@tailwind base;
@tailwind components;
@tailwind utilities;

.text-highlight {
    margin: 0 -0.4em;
    padding: 0.1em 0.2em;
    border-radius: 0.8em 0.4em 0.5em;;
    background: transparent;
    background-image: linear-gradient(
      to right,

      rgba(255, 234, 40, 0.055),
      rgba(255, 233, 40, 0.5) 10%,
      rgba(255, 234, 40, 0.3)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

.stylistic-quote-mark{
  font-size: 5rem;
  @apply font-mono text-indigo-300 text-left leading-tight h-3 -ml-8 ;
}

/* .std-layout {
  @apply w-full max-w-4xl  py-8 mx-auto md:px-8 lg:px-32 md:py-0;
} */



input[type="radio"]  {
  @apply cursor-pointer outline-none focus:ring-0;
}

input[type="radio"]:checked {
  @apply bg-custom-primary focus:bg-custom-primary;
}

/* radial-gradient(circle, rgba(39,41,128,0.8281687675070029) 0%, rgba(0,0,0,0.9150035014005602) 100%) */
.bg {
  background-image: radial-gradient(circle, rgba(47, 65, 82, 0.849) 0%, rgba(0, 0, 0, 0.966) 100%), url("/images/usa-heatmap.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-grid-screen {
  background-image: radial-gradient(circle, rgba(87, 151, 146, 0.2) 1px, rgba(136, 132, 132, 0) 1px);
  background-repeat: repeat;
  background-size: 50px 50px;
}

.bg-abstract1 {
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23FFFFFF' stroke-width='0.4' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(32.95) translate(-969.65 -727.24)'%3E%3Cuse fill='%23fcfcfc' href='%23s' y='2'/%3E%3Cuse fill='%23fcfcfc' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='2'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(32.95) translate(-969.65 -727.24)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(32.95) translate(-969.65 -727.24)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(32.95) translate(-969.65 -727.24)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(32.95) translate(-969.65 -727.24)'%3E%3Cg fill='%23FFFFFF'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23efefef'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(32.95) translate(-969.65 -727.24)'%3E%3Cg fill='%2321B8FF'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(32.95) translate(-969.65 -727.24)'%3E%3Cg fill='%2321B8FF'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(32.95) translate(-969.65 -727.24)'%3E%3Cg fill='%2321B8FF'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

@layer components {
  .std-layout {
    @apply mx-auto max-w-4xl;
  }
  
  .std-layout-job {
    @apply mx-auto max-w-prose;
  }
  
  .std-layout-padding {
    @apply px-4 md:px-8;
  }

  .btn {
    @apply no-underline rounded-md px-4 py-2 text-gray-50 font-medium text-base;
  }

  .btn-primary {
    @apply shadow-md bg-custom-primary ;
  }

  .btn-primary:hover {
    @apply filter contrast-75
  }
 
  .pill {
    @apply px-2 py-1 text-xs font-mono  rounded-full whitespace-nowrap;
  }
  .pill-cat {
    @apply bg-green-200
  }
  .pill-tag {
    @apply bg-indigo-200	
  }

  .link-primary {
    @apply underline hover:text-custom-primary;
  }

  .link-secondary{
    @apply underline hover:text-custom-blue;
  }

  .link-default {
    @apply underline;

  }


  .blog-post-meta {
    @apply text-gray-500 font-mono text-xs;
  }
}

.main-container {
  @apply font-sans text-base text-gray-900 bg-white;
}

.layout-center {
  @apply w-full px-4 mx-auto ;
}

.layout-wide {
  @apply max-w-6xl;
}

.default-layout {
  @apply w-full max-w-4xl mx-auto;
}


/* OpenBeta Styles */

.bg-openbeta-orange {
  background-color: #F15E40;
}

.bg-openbeta-green {
  background-color: #B1C077;
}

.bg-openbeta-dark-turquoise {
  background-color: #2F6A6C;
}

.bg-openbeta-black {
  background-color: #000000;
}

.bg-openbeta-white {
  background-color: #FFFFFF;
}


.text-openbeta-orange {
  color: #F15E40;
}

.text-openbeta-green {
  color: #B1C077;
}

.text-openbeta-dark-turquoise {
  color: #2F6A6C;
}

.text-openbeta-black {
  color: #000000;
}

.text-openbeta-white {
  color: #FFFFFF;
}